---
 const personalImageAlt = "Suelen Galhardo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    ¡Soy Suelen! Estudié Trabajo Social y Derecho y tras años ejerciendo, hizo un cambio Proficonal al mundo de la Programación. Se convertió en mipasión y na carrera en desarrollo. 
  

  </p>

    <p>
        Terminé el Bootcamp en Programación web en 2023, por <a href="https://adalab.es/" target="_blank" class=" no-underline ">Adalab.</a>
        <p>He adquirido competencias en una variedad de tecnologías esenciales, incluyendo HTML5, CSS3, SASS, JavaScript, ReactJS, NodeJS, SQL, ExpressJS, REST API, Git y MongoDB</p>
        <p>Esta formación técnica me ha permitido diseñar y crear sitios web responsivos, que brindan una experiencia excepcional al usuario.</p>
    </p>
<p>
  
</p>
   
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>