---
const personalImageAlt = "Suelen Galhardo";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Soy Suelen, desarrolladora web frontend desde agosto de 2023. La
      curiosidad por la programación empezó en septiembre de 2022 y me llevó al
      bootcamp de
      <a href="https://adalab.es/" target="_blank" class="no-underline"
        >Adalab</a
      > (abril de 2023).
    </p>
    <p>
      He adquirido competencias en una variedad de tecnologías esenciales,
      incluyendo HTML5, CSS3, SASS, JavaScript, ReactJS, NodeJS, SQL, ExpressJS,
      REST API, Git y MongoDB
    </p>
    <p>
      Tras meses formándome, estoy lista para dar lo mejor de mi misma y seguir
      creciendo dentro del sector tecnológico.
    </p>

    <p>
      Este es mi portfolio, donde podrás encontrar más información sobre mí y mi
      forma de trabajar. Encontrarás cuáles son mis proyectos más importantes y
      las tecnologias con las cuales estoy trabajando.
    </p>
  </div>
</article>


