---
const personalImageAlt = "Suelen Galhardo" 
---


<header class="flex justify-between items-center" >
<img width="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">
<nav>

<a href="/">Home</a>
<a href="/about">about</a>
<a href="/projects">Projects</a>
<a href="/contacto"></a>
</nav>

</header>