---
import "@fontsource-variable/onest"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions"

interface Props {
	title: string;
	description: string
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	    <ViewTransitions />
	</head>
	<body class=" relative text-black dark:text-white">
		<div></div>
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root ¨{
				color-scheme: light dark;
			}
			html {
				font-family: "Onest Variable", system-ui, sans-serif;
                scroll-behavior: smooth;
			}


		</style>
	</body>
</html>
<style is:global>
	:root {
		
		
	}
	html {
		font-family: system-ui, sans-serif;
		justify-content: center;
		
	}
	body¨{
		display: flex;
	}
	
</style>
